@model Dish[]

@{
    ViewData["Title"] = "Search results";
}

<h1>Search results</h1>

@if (Model.Length == 0)
{
    <p>Nothing found</p>
}
else
{
    <ul>
        @foreach (var dish in Model)
        {
            <li>
                <a href="@Url.Action("Index", "Dish", new {id = dish.Id })">@dish.Name</a>
            </li>
        }
    </ul>

}
